.main-container {
    margin-top: 25px;;
    display: flex;
}

.filter-wrapper {
    // padding: 5px;
}

.scrollable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    flex-basis: 82%;
}

.side-left {
    flex-basis: 18%;
    min-width: 250px;
    max-width: 250px;
}
.margin-for-filters {
   
}

.padding5 {
    padding: 0 5px !important;
}

.mission-container {
    padding-left: 0 !important;
}

.mission-card {
    padding-left: 0 !important;
    padding-right: 14px !important;
}

.no-data {
    text-align: center;
    margin-top: 20%;
    font-size: 2em;
    font-weight: 600;
    color: #666666;
    line-height: initial;
}
.loader {
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    .mission-card {
        padding: 0 40px !important;
    }
}

@media screen and (max-width: 575px) {
    .mission-container {
        padding: 15px !important;
    }
    .filter-container {
        display: none;
    }
}