<div class="filter-wrapper" [ngClass]="{'no-shadow': isPopup}" onselectstart="return false">
    <div class="main-lable">Filters</div>
    <div class="scrollable" (click)="changeFilter($event)">
        <div class="year-filter filter">
            <div class="label-title">Launch Year</div>
            <div class="options">
                <div *ngFor="let yearPair of yearFilters" class="pair">
                    <span data-year class="option" *ngFor="let year of yearPair"
                    [ngClass]="{'selected': appliedFilters.year == year}">{{year}}</span>
                </div>
            </div>
        </div>

        <div class="filter">
            <div class="label-title">Successful Launch</div>
            <div class="options">
                <div class="pair">
                    <span data-launch class="option" [ngClass]="{'selected': appliedFilters.launchSuccess == 'true'}"s>YES</span>
                    <span data-launch class="option" [ngClass]="{'selected': appliedFilters.launchSuccess == 'false'}">NO</span>
                </div>
            </div>
        </div>

        <div class="filter">
            <div class="label-title">Successful Landing</div>
            <div class="options">
                <div class="pair">
                    <span data-land class="option" [ngClass]="{'selected': appliedFilters.landSuccess === 'true'}">YES</span>
                    <span data-land class="option" [ngClass]="{'selected': appliedFilters.landSuccess === 'false'}">NO</span>
                </div>
            </div>
        </div>
    </div>
</div>